#style
  article
    clear: both
    margin-top: 20px
    h4
      color: $codegram-color
      font-family: 'Klavika' 
      font-size: 1.3em
      font-weight: bold
      margin-bottom: 12px
    img
      margin-bottom: 15px
      &.left
        float: left
        margin-right: 15px
      &.right
        float: right
        margin-left: 15px

#content .founder
  h3
    margin-top: 10px
    margin-bottom: 5px
  h4
    color: $font-color
    font-weight: bold
    height: 51px
  ul
    +no-bullets
    padding: 0px
    li
      margin-top: 5px

  +column(4)
  &.last
    +column(4,true)

#offices
  ul
    +no-bullets
    padding: 0px
    margin: 0px
    overflow: hidden
    li
      +column(4)
      &.last
        +column(4,true)
