#content .founder
  ul
    +no-bullets
    padding: 0px
    li
      margin-top: 5px
      a
        padding-left: 20px
        display: block
        background-position: left center
        background-repeat: no-repeat
      &.twitter a
        background-image: url(/images/icons/twitter.png) 
      &.github a
        background-image: url(/images/icons/octocat.png) 

  +column(4)
  &.last
    +column(4,true)
