.post
  position: relative
  headergroup
    h2
      padding-right: 260px
    h3
      color: $font-color
      font-weight: normal
      span
        display: block
        color: $codegram-color
  hr
    margin-bottom: 1em
  .markdownizer_code
    position: relative
    margin-top: 30px
    margin-bottom: 30px
    h5
      position: absolute
      background: #fff
      padding: 0px 10px
      top: -0.8em
      text-transform: uppercase
      font-size: 0.8em
      left: 10px
      margin: 0px
      line-height: 1.5em
      color: #999
      font-weight: normal

  .CodeRay
    border: 1px solid #ddd
    +border-radius
    margin-bottom: 10px
    padding: 12px
    white-space:nowrap
    background-color: #fff

#blog #sidebar-blog .archive
  h4
    font-weight: bold
  ul
    +no-bullets
    padding: 0px

#blog #sidebar-blog
  a
    color: $codegram-color
    text-decoration: none
    &.rss
      +link-icon('feed.png')

.post-body
  h2, h3, h4, h5
    color: $font-color - #222
    margin-top: 25px

.post-body
  color: #5f5f5f
  padding-bottom: 20px
  img
    float: right
    margin-left: 15px

.post-metadata
  position: absolute 
  top: 15px
  right: 0px
  font-size: 0.8em
  color: $font-color + #222
  text-align: right
  .author
    color: $font-color - #222
  .date
    color: $font-color - #222

.post-tagline
  padding: 10px
  background-color: #f8f8f8
  font-size: 1.4em

.dsq-post-area, #dsq-comments-title
  h3
    font-size: 22px
    font-weight: normal
    margin-bottom: 5px
.dsq-post-area
  .dsq-post-footer button.dsq-button#dsq-post-button
    +button-codegram(#db9c03)
    display: block
    float: right
    margin-bottom: 30px
.dsq-textarea div.dsq-textarea-wrapper#dsq-textarea-wrapper, 
.dsq-content .dsq-input-wrapper
  width: 695px
  height: 70px
  background-color: #0f0
  textarea
    background-color: #0f0
.dsq-community-preview
  border-bottom: 1px dotted #ccc
  background-color: #00f
