.actions
  margin-top: 10px
  a
    margin-right: 10px

#sidebar header#header h2
  position: absolute
  top: 0px
  left: 0px
  width: 225px
  top: 181px

.post
  position: relative
  .title-header
    overflow: auto

  headergroup
    h2
      margin-bottom: 5px
      padding-right: 160px
    h3
      color: $font-color
      font-weight: normal
      span
        display: block
        color: $codegram-color
  hr
    margin-bottom: 1em
  .markdownizer_code
    position: relative
    margin-top: 30px
    margin-bottom: 30px
    h5
      position: absolute
      background: #fff
      padding: 0px 10px
      top: -0.8em
      text-transform: uppercase
      font-size: 0.8em
      left: 10px
      margin: 0px
      line-height: 1.5em
      color: #999
      font-weight: normal

  .CodeRay
    border: none
    background: none
  pre
    border: 1px solid #ddd
    +border-radius
    margin-bottom: 10px
    white-space:nowrap
    background-color: #fff
    padding: 12px

#blog #sidebar-blog
  padding-left: 30px
  padding-top: 20px
  section
    margin-bottom: 20px
  hr
    width: 160px
    margin-top: 15px
    margin-bottom: 15px
  h4
    font-weight: normal
    margin-bottom: 5px 
    margin-top: 5px
  .author_info
    h4
      font-size: 22px
  strong
    color: #5f5f5f
  .author-more
    +button-codegram
    width: 128px 
  .latest ul
    margin: 0px
    padding: 0px
    margin-right: 15px
    li
      margin-bottom: 10px
      margin-top: 10px
      font-size: 1em
      
  .tags ul
    padding-left: 5px
    +pretty-bullets("bullet.png")
    li
      padding-left: 17px
    a
      text-decoration: none
      margin-bottom: 10px
      
#blog #sidebar-blog .archive
  h4
    font-weight: bold
  ul
    +no-bullets
    padding: 0px
    margin: 0px

.archive-title
  margin-top: 10px
  color: $font-color + #444
  font-family: Klavika, "Helvetica Neue", Helvetica, Arial
  font-size: 1.3em

#blog #sidebar-blog
  a
    color: $codegram-color
    text-decoration: none
    &.rss
      +link-icon('feed.png')

.post-body
  h2, h3, h4, h5
    color: $font-color - #222
    margin-top: 25px

.post-body
  color: #5f5f5f
  padding-bottom: 20px
  img
    float: right
    margin-left: 15px

.post-metadata
  font-size: 0.8em
  text-align: right
  color: $font-color + #444
  position: absolute
  width: 150px
  top: 3px
  right: 0px
  .author-line .date-line
    display: block
  .author
    color: $font-color
  .date
    color: $font-color 
  display: block
  margin-bottom: 20px
  margin-top: 0px

.post-tagline
  padding: 15px
  font-size: 1.4em
  margin-bottom: 10px

.dsq-post-area, #dsq-comments-title
  h3
    font-size: 22px
    font-weight: normal
    margin-bottom: 5px
.dsq-post-area
  .dsq-post-footer button.dsq-button#dsq-post-button
    +button-codegram(#db9c03)
    display: block
    float: right
    margin-bottom: 30px
.dsq-textarea div.dsq-textarea-wrapper#dsq-textarea-wrapper, 
.dsq-content .dsq-input-wrapper
  width: 695px
  height: 70px
  background-color: #0f0
  textarea
    background-color: #0f0
