#content
  margin-top: 280px
  #boxes
    .row
      margin-bottom: 30px
      overflow: hidden
    section
      +column(6)
      &.right
        +column(6,true)
      aside.more 
        margin-top: 10px
        a
          +button-codegram

hr
  height: 0px
  background: transparent
  border-top: 2px dotted #9f9f9f
