html body a
  outline: none

#content
  padding-top: 5px
  .row
    padding-bottom: 30px
    overflow: hidden
  .left
    +column(6)
  .right
    +column(6,true)
  .separator
    height: 170px
  aside.more 
    margin-top: 10px
    a
      +button-codegram

hr
  height: 4px
  margin: 2em 0em
  background: url(/images/embed/dots.png)
  clear: both
  display: block


.notice
  margin-top: 15px
  height: 80px
  line-height: 80px
  text-align: center
  font-family: Klavika, "Helvetica Neue", Helvetica, Arial
  font-size: 1.5em

html body
  .navi, .examples_nav .pagination
    a
      +inline-block
      background-color: #ddd
      border: 1px solid #bbb
      +opacity(0.6)
      &.active
        background-color: $codegram-color
        border-color: $codegram-color - #222
        padding: 0px
        +opacity(1)
      margin-left: 5px
      width: 12px
      height: 12px
      padding: 0px

  p
    margin-bottom: 0.8em
  pre
    font-family: monospace
    font-size: 13px
    font-style: normal
    font-variant: normal
    font-weight: normal

  strong
    // background-color: #afafaf
    // padding: 2px 3px
    // color: #fff
    // font-weight: normal
    color: $font-color - #111
  blockquote
    font-style: normal



.snapshot
  border: 1px solid #e5e5e5
  position: relative
  margin-bottom: 15px
  overflow: hidden
  
  a:hover h4
    text-decoration: none

  .caption
    background: rgba(255,255,255,0.85)
    position: absolute
    bottom: 0px
    left: 0px
    z-index: 30
    width: 100%
    padding-bottom: 10px
    blockquote
      margin: 15px
      font-family: Klavika, "Helvetica Neue", Helvetica, Arial
      font-size: 20px
      font-weight: bold
      color: #555
      padding-bottom: 15px
    .caption-author
      position: absolute
      color: $codegram-color
      z-index: 20
      right: 15px
      bottom: 15px
      font-weight: bold
