#content
  #boxes
    .row
      margin-bottom: 30px
      overflow: hidden
    section
      +column(6)
      &.right
        +column(6,true)

hr
  height: 0px
  background: transparent
  border-top: 2px dotted #9f9f9f
