@import compass/css3/font-face

@font-face
  font-family: Klavika
  src: url("/fonts/klavika-regular-webfont.eot")
  src: local('☺'), url('/fonts/klavika-regular.otf') format("opentype"), url('/fonts/klavika-regular-webfont.ttf') format("truetype")

@font-face
  font-family: Klavika
  src: url("/fonts/klavika-medium-webfont.eot")
  src: local('☺'), url('/fonts/klavika-medium.otf') format("opentype"), url('/fonts/klavika-medium-webfont.ttf') format("truetype")
  font-weight: bold

html body
  h1, h2, h3
    font-family: Klavika, "Helvetica Neue", Helvetica, Arial
    font-weight: bold
    color: $codegram-color
