#sidebar
  #sidebar-inner
    background-color: $codegram-color
    min-height: 100%
    position: relative
  header
    padding-top: 60px
    h1
      a
        display: block
        width: 134px
        height: 115px
        background: url(../images/embed/logo-plain.png) no-repeat
      margin: 0px
      padding: 0px
      span
        display: none
      padding-left: 20px
      color: white

#blog
  #sidebar-inner
    height: 260px
    header
      h2
        position: absolute
        bottom: 0px
        left: 0px
        width: 100%
        margin: 0px
        padding: 0px
        a
          display: block
          background-color: #f2f2f2
          color: $codegram-color
          padding-left: 30px
          +text-shadow(none)
          text-decoration: none
          &:hover
            background-color: #eee

  #sidebar-blog
    padding-left: 30px
    padding-top: 20px
    section
      margin-bottom: 20px
    hr
      margin-bottom: 10px
      width: 160px
    h4
      font-size: 22px
      font-weight: normal
      margin-bottom: 5px 
      margin-top: 5px
    strong
      color: #5f5f5f
    .author-more
      +button-codegram
      width: 128px 
    .tags ul
      padding-left: 5px
      +pretty-bullets("bullet.png")
      li
        padding-left: 17px
      a
        text-decoration: none
        color: #5f5f5f
        margin-bottom: 10px
