#sidebar
  nav
    padding-left: 20px
    ul
      +no-bullets
      padding: 0px
      li
        line-height: 2.6em
        &.current
          a
            background-color: white 
            color: $codegram-color
      a
        padding: 0px 5px
        font-family: Klavika, "Helvetica Neue", Arial
        font-weight: normal
        color: white
        text-decoration: none
        font-size: 22px
        +inline-block
        
