#sidebar
  z-index: 10
  position: relative
  #sidebar-inner
    color: white
    padding-bottom: 20px
    +text-shadow
    h1, h2, h3, h4, a
      color: white
      font-weight: bold
  #sidebar-inner aside
    ul
      +no-bullets
      padding: 0px
    padding-left: 25px
    font-size: 0.9em
    h4
      margin-bottom: 0px
    margin-bottom: 20px
    a
      +inline-block
      background-color: #fff
      color: $codegram-color
      padding: 0px 5px
      line-height: 1.8em
      margin-top: 6px
      text-decoration: none
      +text-shadow(none)
  #sidebar-inner nav
    padding-top: 80px
    padding-left: 20px
    padding-bottom: 60px
    ul
      +no-bullets
      padding: 0px
      li
        line-height: 2.3em
        &.selected
          a
            background-color: white 
            color: $codegram-color
            +text-shadow(none)
            &:hover
              font-weight: normal
        a
          &:hover
            font-weight: bold
      a
        padding: 0px 5px
        font-family: Klavika, "Helvetica Neue", Arial
        font-weight: normal
        color: white
        text-decoration: none
        font-size: 22px
        +inline-block
  #github
    position: absolute
    bottom: 0px
    width: 100%
    text-align: center
    padding-bottom: 15px
    a
      +opacity(0.3)
      text-decoration: none
      font-size: 1.1em
      +transition(opacity, 0.3s)
      &:hover
        +opacity(1)
        +transition(opacity, 0.8s)
