#content section.service
  position: relative
  padding-bottom: 0px
  margin-bottom: 30px
  overflow: auto
  article
    margin-bottom: 30px
  .links a
    position: absolute
    bottom: 0px
    +button-codegram

  img
    float: left
    height: 100px
    width: 100px
    margin:
      right: 10px
    -webkit-transform: perspective(900) rotateY(0deg)
  article:hover img
    -webkit-transform: perspective(900) rotateY(360deg)
    +transition(-webkit-transform, 0.6s)
  h3
    margin-top: 10px
    margin-bottom: 10px
.development, .help
  overflow: hidden
