nav#tabs
  border-bottom: 1px solid #e5e5e5
  margin-left: -20px
  position: relative
  z-index: 10
  height: 48px
ul.tabs
  +horizontal-list(false)
  padding-left: 20px
  position: absolute
  z-index: 15
  li
    background-color: #fff
    margin-top: 10px
    margin-bottom: 5px
    position: relative
  a
    background-color: #fff
    +inline-block
    padding: 5px 5px
    text-decoration: none
    font-family: Klavika, "Helvetica Neue", Helvetica, Arial
    font-size: 18px
    color: #888
    border: 1px solid transparent
      bottom: 1px solid #e5e5e5
    span
      padding: 5px 10px
  a.current
    border: 1px solid #e5e5e5
      bottom: 1px solid #fff
    color: $codegram-color
    span
      background-color: #f2f2f2
