nav#tabs
  border-bottom: 1px solid #e5e5e5
  margin-left: -20px
  margin-top: 10px
  position: relative
  z-index: 10
  height: 38px
ul.tabs
  +horizontal-list(false)
  padding-left: 20px
  position: absolute
  z-index: 15
  li
    background-color: #fff
    margin-top: 10px
    margin-bottom: 5px
    position: relative
  a
    background-color: #fff
    +inline-block
    padding: 10px 10px
      top: 7px
      bottom: 3px
    text-decoration: none
    font-family: Klavika, "Helvetica Neue", Helvetica, Arial
    font-size: 18px
    color: #888
    &.active
      border: 1px solid #e5e5e5
        bottom: 1px solid #fff
      color: $codegram-color

.panes
  div#clientWork,
  div#products,
  div#openSource
    overflow: hidden
    div#work_slide
      position: relative
      width: 10000px
      article
        float: left
        width: 715px
        position: relative
        margin-top: 15px
        height: 550px
          
        h2
          margin-top: 0
          font-size: 22px
        h3
          font-size: 22px
          font-weight: normal
      .snapshot
        height: 300px
        .caption-bg
          height: 90px


