nav#tabs
  border-bottom: 1px solid #e5e5e5
  margin-left: -20px
  margin-top: 10px
  margin-bottom: 15px
  position: relative
  z-index: 10
  height: 38px

#content ul.tabs
  +horizontal-list(false)
  padding-left: 20px
  position: absolute
  z-index: 15
  a
    background-color: #fff
    +inline-block
    padding: 10px 10px
      top: 7px
      bottom: 3px
    text-decoration: none
    font-family: Klavika, "Helvetica Neue", Helvetica, Arial
    font-size: 18px
    color: #888
    margin: 1px
    &:hover
      text-decoration: none
      color: $codegram-color
    &.active
      border: 1px solid #e5e5e5
        bottom: 1px solid #fff
      color: $codegram-color
      margin: 0px

#project_parent
  overflow: hidden
  height: 550px
  #projects
    position: relative
    left: 0px
    width: 999em
    height: 550px

.panes
  float: left
  width: 715px
  div#clientWork,
  div#products,
  div#openSource
    overflow: hidden
    div#work_slide
      article
        float: left
        position: relative
          
        h2
          margin-top: 0
          font-size: 22px
        h3
          font-size: 22px
          font-weight: normal
      .snapshot
        height: 300px
      .visit-site 
        margin-top: 10px
        a
          +button-codegram
      .downloads
        font-family: Klavika, "Helvetica Neue", Helvetica, Arial
        text-align: center
        margin-top: 20px
        .count
          margin-right: 5px
          font-size: 1.1em
          color: $font-color - #222
        font-size: 1.8em
        a
          +button-codegram
          &.github
            +button-codegram(#bbb)
            font-size: 13px
          font-size: 13px
          width: 160px
          

html body #content nav
  .prev, .next
    a, span
      width: 50px
    span
      +button-codegram-disabled
      cursor: default
    a
      +button-codegram
    &.prev
      float: left
    &.next
      float: right
  .pagination
    padding: 3px 90px
    width: auto
