nav#tabs=render :partial => 'tabs'
#project_parent
  #projects=render :partial => 'projects'
hr.pagination-separator
#navigation=render :partial => 'project_navigation'

=javascript_include_tag 'history.js', 'history.adapter.jquery.js'

javascript:
  if(!jQuery.browser.msie==true){
    (function(window, undefined){
      var History = window.History;
      History.firstCall = true;
      History.options = {
        hasChangeCheckerDelay: 0
      }

      History.Adapter.bind(window,'statechange',function(){
        var State = History.getState(); 
        $.get(State.url + '.js' + "?direction=" + direction, function(){}, 'script');
      });
    })(window);

    var direction = undefined;

    $('nav#tabs a, #content #navigation a').live('click',function(){
        direction = $(this).attr("data-direction");
        History.pushState({direction: direction}, null, $(this).attr("href"));
        return false;
    });
  }

hr
#customers
  h2=t '.customers'
  ul
    -Customer.all.each do |customer, url|
      li=link_to customer, url
