login: &login
  username: user
  password: password
  adapter: postgresql
  host: localhost

development:
  database: codegram_web_development
  <<: *login

test:
  database: codegram_web_test
  <<: *login
