figure#slideshow
  #slides
    ul
      -unless (slides = yield(:slideshow)).blank?
        =slides
      -else
        li#slide-1
          =image_tag 'slide.jpg', width: 1000, height: 280
          headergroup
            h2 We care about your project
            h3 We love working with our customers.
        li#slide-2
          =image_tag 'slide1.jpg', width: 1000, height: 280 
          headergroup
            h2 
              =link_to 'We rumble', 'http://railsrumble.com/' 
            h3 We like programming for fun
        li#slide-4
          =image_tag 'slide3.jpg', width: 1000, height: 280
          headergroup
            h2 We love coffee
            h3 It helps us to keep our minds sharp
        li#slide-7
          =image_tag 'slide6.jpg', width: 1000, height: 280
          headergroup
            h2  
            h3 
  nav.navi

javascript:
  $(function(){
    if( $('#slides ul li').length > 1) {
      $("#slides ul").randomize("li");
      $("#slides").scrollable(
        {
          circular: true,
          easing: 'bounce',
          speed: 800
        }
      ).navigator();
  }});
