! doctype html
html
  head
    =render :partial => 'layouts/header'
    title=yield(:title) || ":codegram - smart web apps"
    meta name="keywords" content="web apps"

  body
    #container
      #content
        = flash_messages.html_safe
        = yield
      #sidebar
        #sidebar-inner
          =render :partial => 'layouts/title'
          =render :partial => 'layouts/main_sidebar'
          =render :partial => 'layouts/github_sidebar'
      = render :partial => 'layouts/slideshow' 
    = include_javascripts :application
    javascript:
      $(function(){
        var content_height = $("#container").height(); 
        var window_height = $(window).height();
        var total_height = 0;
        if(content_height > window_height){
          total_height = content_height;
        }else{
          total_height = window_height;
        }
        if($("#sidebar-inner").height() < total_height){
          $("#sidebar-inner").height(total_height + 5 );
        }
      });
