! doctype html
html
  head
    title :codegram - smart web apps
    =render :partial => 'layouts/header'
  body#error
    #container
      #content
        = flash_messages.html_safe
        = yield
      #sidebar
        #sidebar-inner
          =render :partial => 'layouts/title'
          =render :partial => 'layouts/github_sidebar'
      figure#slideshow
        #slides
          ul
            li#slide-black
              headergroup
                h2 Hey!!
                h3 Who did just turn off the lights??
    = include_javascripts :application
    javascript:
      $(function(){
        var content_height = $("#container").height(); 
        var window_height = $(window).height();
        var total_height = 0;
        if(content_height > window_height){
          total_height = content_height;
        }else{
          total_height = window_height;
        }
        if($("#sidebar-inner").height() < total_height){
          $("#sidebar-inner").height(total_height + 5 );
        }
      });
